*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Raleway;
}
body{
    background-image: url(tower.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 2rem 3rem;
}

.head{
    font-size: 18px;
    font-weight: bolder;
}
span{
    color: orange;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.menu{
    width: 20%;
    height: 100%;
    background-color: rgb(20, 19, 19);
    padding-bottom: 5rem;
    padding-top: 3rem;
    
}
.menu li{
    line-height: 30px;
    padding: 3rem 3rem 0;
}
.menu li a{
    color: gray;
    text-decoration: none;
    font-size: 18px;
    
}
.menu li a:hover{
    border-bottom: 1px solid orange;
}
.open,.close{
    display: none;
}

.text{
    width: 30%;
    font-size: 55px;
    padding: 7rem 2rem;
}

.lorem-text{
    width: 30%;
    padding: 7rem 0 0 7rem ;
    font-weight: bolder;
}
.large-text{
    font-size: 20px;
    margin-bottom: 20px;
}
.small-text{
    font-size: 14px;
    line-height: 20px;
}
.circle{
    margin-left: 3rem;
    width: 70px;
    height: 70px;
    background-color: gray;
    border-radius: 50%;
    margin-bottom: 7rem;
}
.inner-circle{
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
    left: 10px;
    /* z-index: 1; */
    background-color: wheat;
    border-radius: 50%;
}
.triangle{
    content: '';
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom:5px solid black;
    transform:rotate(90deg);
    top: 22.5px;
    left:22.5px;
}
@media screen and (max-width:770px){
body{
    background-image: url(eiffel.jpg);
}
#links{
    display: none;
}
.open,.close{
    display: block;
}
.open{
    position: absolute;
    z-index: 1;
    margin-top: 1rem;
    font-size: 25px;
    padding: 0 0 0 1rem;
    color: whitesmoke;
}
#close{
    display: none;
}
.close{
    margin-top: auto;
    margin-top: 1rem;
    margin-left: 200px;
    z-index: 1;
    position: absolute;
}

.menu{
    position: absolute;
    z-index: 1;
    width: 250px;
    height: 80%;
   
    padding-bottom: 0;
    padding-top: auto;
}
.menu li{
    line-height: 30px;
    padding: 2rem 3rem 0;
}
header{
    padding: 2rem 1rem 1rem 2rem;
}
.text{
    width: 100%;
    font-size: 55px;
    padding: 7rem 1rem 1rem 1rem;
}
.lorem-text{
    width: 100%;
    padding: 1rem ;
    font-weight: bolder;
}
.circle{
    margin-left: 0;
   
   
    margin-bottom: 1rem;
}



}